* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  background-color: #333;
}

.main-container {
  background-color: beige;
  margin: 60px auto;
  width: 500px;
  border-radius: 8px;
  padding: 30px 100px;
}

h1 {
  text-align: center;
  color: #fff;
}

.numbers-container {
  display: flex;
  justify-content: space-between;
}

.numbers-container div {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
}

.numbers-container .active {
  background-color: #7950f2;
  color: #fff;
}

.active-step-message {
  text-align: center;
  color: #333;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: oblique;
}

.buttons-conatiner {
  display: flex;
  justify-content: space-between;
}

.buttons-conatiner button {
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #7950f2;
  color: #fff;
  cursor: pointer;
}

.buttons button span {
  font-size: 16px;
  line-height: 1;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
  color: #fff;
}

.close:hover {
  color: #7950f2;
}
